@use '../styles/' as *;

.chat {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include md {
        .toggle {
            display: none;
        }
    } 
}
